<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form action="/Report/Invoice">
        <button type="submit" formtarget="_blank">PDF</button>
    </form>
</body>
</html>
